.footer {
    background-color: var(--secondary-bg-color);
    color: var(--color-c9ced7);
    padding: 30px 0;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
}

.footer-bottom {
    color: var(--color-9fa6b2);
    /* text-align: center; */
}

.footer-bottom a {
    color: var(--color-ffffff);
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: none;
}

.footer-bottom a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.footer-bottom a:hover::before {
    width: 100%;
}
