@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Bree+Serif&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&family=Pacifico&family=Playwrite+DE+SAS:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #212529;
  --secondary-bg-color: #2b3035;
  --color-0000: #0000;
  --color-0050a7: #0050a7;
  --color-1b1f24: #1b1f24;
  --color-1e90ff: #1e90ff;
  --color-212529: #212529;
  --color-2b3035: #2b3035;
  --color-2de38b: #2de38b;
  --color-525252: #525252;
  --color-6ec6ff: #6ec6ff;
  --color-888: #888;
  --color-8ce99a: #8ce99a;
  --color-9fa6b2: #9fa6b2;
  --color-a3a3a3: #a3a3a3;
  --color-a4aab3: #a4aab3;
  --color-aeb7c4: #aeb7c4;
  --color-aecdff: #aecdff;
  --color-b3b3b3: #b3b3b3;
  --color-b9c3d1: #b9c3d1;
  --color-bcbcbc: #bcbcbc;
  --color-c9ced7: #c9ced7;
  --color-cfe2ff: #cfe2ff;
  --color-d1d7e0: #d1d7e0;
  --color-d7dee8: #d7dee8;
  --color-dce2ea: #dce2ea;
  --color-eaf3ff: #eaf3ff;
  --color-f4f7fb: #f4f7fb;
  --color-f78da7: #f78da7;
  --color-ff4d4d: #ff4d4d;
  --color-ff6b01: #ff6b01;
  --color-ff6b8d: #ff6b8d;
  --color-ff7aa2: #ff7aa2;
  --color-ff9a9a: #ff9a9a;
  --color-ff9cbc: #ff9cbc;
  --color-ffb8cb: #ffb8cb;
  --color-ffd166: #ffd166;
  --color-ffe0e0: #ffe0e0;
  --color-fff: #fff;
  --color-ffffff: #ffffff;
  --color-rgb-0-0-0-12: rgb(0 0 0/12%);
  --color-rgb-105-105-105-12: rgb(105 105 105/12%);
  --color-rgb-110-110-110-12: rgb(110 110 110/12%);
  --color-rgb-122-122-122-18: rgb(122 122 122/18%);
  --color-rgb-2-6-16-31: rgb(2 6 16/31%);
  --color-rgb-2-6-16-77: rgb(2 6 16/77%);
  --color-rgb-28-28-28-12: rgb(28 28 28/12%);
  --color-rgb-84-84-84-3: rgb(84 84 84/3%);
  --color-rgb-94-94-94-8: rgb(94 94 94/8%);
  --color-rgba-0-0-0-0-28: rgba(0,0,0,0.28);
  --color-rgba-0-0-0-0-3: rgba(0,0,0,0.3);
  --color-rgba-0-0-0-0-32: rgba(0,0,0,0.32);
  --color-rgba-0-0-0-0-34: rgba(0,0,0,0.34);
  --color-rgba-0-0-0-0-35: rgba(0,0,0,0.35);
  --color-rgba-0-0-0-0-42: rgba(0,0,0,0.42);
  --color-rgba-0-0-0-0-48: rgba(0,0,0,0.48);
  --color-rgba-0-80-167-0-12: rgba(0,80,167,0.12);
  --color-rgba-0-80-167-0-2: rgba(0,80,167,0.2);
  --color-rgba-0-80-167-0-85: rgba(0,80,167,0.85);
  --color-rgba-10-30-60-0-12: rgba(10,30,60,0.12);
  --color-rgba-174-183-196-0-16: rgba(174,183,196,0.16);
  --color-rgba-174-183-196-0-18: rgba(174,183,196,0.18);
  --color-rgba-174-183-196-0-28: rgba(174,183,196,0.28);
  --color-rgba-174-183-196-0-45: rgba(174,183,196,0.45);
  --color-rgba-174-205-255-0-04: rgba(174,205,255,0.04);
  --color-rgba-174-205-255-0-18: rgba(174,205,255,0.18);
  --color-rgba-174-205-255-0-22: rgba(174,205,255,0.22);
  --color-rgba-18-22-28-0-98: rgba(18,22,28,0.98);
  --color-rgba-22-26-31-0-96: rgba(22,26,31,0.96);
  --color-rgba-255-107-1-0-18: rgba(255,107,1,0.18);
  --color-rgba-255-107-1-0-25: rgba(255,107,1,0.25);
  --color-rgba-255-122-162-0-08: rgba(255,122,162,0.08);
  --color-rgba-255-122-162-0-22: rgba(255,122,162,0.22);
  --color-rgba-255-122-162-0-24: rgba(255,122,162,0.24);
  --color-rgba-255-122-162-0-28: rgba(255,122,162,0.28);
  --color-rgba-255-122-162-0-42: rgba(255,122,162,0.42);
  --color-rgba-255-122-162-0-8: rgba(255,122,162,0.8);
  --color-rgba-255-255-255-0-03: rgba(255,255,255,0.03);
  --color-rgba-255-255-255-0-04: rgba(255,255,255,0.04);
  --color-rgba-255-255-255-0-08: rgba(255,255,255,0.08);
  --color-rgba-255-255-255-0-09: rgba(255,255,255,0.09);
  --color-rgba-255-255-255-0-14: rgba(255,255,255,0.14);
  --color-rgba-255-255-255-0-15: rgba(255,255,255,0.15);
  --color-rgba-255-255-255-0-16: rgba(255,255,255,0.16);
  --color-rgba-255-80-129-0-12: rgba(255,80,129,0.12);
  --color-rgba-255-80-129-0-18: rgba(255,80,129,0.18);
  --color-rgba-28-33-40-0-98: rgba(28,33,40,0.98);
  --color-rgba-30-144-255-0-12: rgba(30,144,255,0.12);
  --color-rgba-33-37-41-0-94: rgba(33,37,41,0.94);
  --color-rgba-37-42-48-0-96: rgba(37,42,48,0.96);
  --color-rgba-4-8-14-0-15: rgba(4,8,14,0.15);
  --color-rgba-4-8-14-0-86: rgba(4,8,14,0.86);
  --color-rgba-4-8-14-0-96: rgba(4,8,14,0.96);
  --color-rgba-40-18-24-0-98: rgba(40,18,24,0.98);
  --color-rgba-52-22-30-0-98: rgba(52,22,30,0.98);
  --color-transparent: transparent;
  --color-white: white;
}

body {
  font-family: 'Exo 2', sans-serif;
  background-color: var(--bg-color);
}

